body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #434455;
}
:root {
  --title-color: #2e2f42;
  --background-color: #ffffff;
  --background-color-dark: #f4f4fd;
  --text-color: #434455;
  --button-color: #4d5ae5;
  --button-second-color: #404bbf;
  --border-color: #e7e9fc;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding: 120px 0;
}

/* Default class */

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

/* Header */
.header {
  border-bottom: 1px solid var(--border-color);
  padding: 24px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}
.navigation {
  display: flex;

  align-items: center;
}

.navigation-list {
  display: flex;
  gap: 40px;
}
.main-link {
  text-transform: uppercase;
  line-height: 1.16;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--button-color);
  margin-right: 76px;
}
.studio-name {
  color: var(--title-color);
}
.menu-list {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-list:hover {
  color: var(--button-second-color);
}
.menu-list:focus {
  color: var(--button-second-color);
}

.contact-information-general {
  font-style: normal;
}
.contact-list {
  display: flex;
  gap: 40px;
}

.contact-information > a {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.contact-information > a:hover {
  color: #404bbf;
}

.contact-information > a:focus {
  color: #404bbf;
}

/* Main index*/

.hero {
  background-color: var(--title-color);
  padding: 188px 0;
}
.hero-container {
  display: flex;
  gap: 48px;
  flex-direction: column;
  align-items: center;
  padding: 0 316px;
}
.motto {
  color: var(--background-color);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
}

.button {
  cursor: pointer;
  background-color: var(--button-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--background-color);
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 1, 0.15);
  border-radius: 4px;
  border: 0;
  min-width: 169px;
}

.button:hover {
  background-color: var(--button-second-color);
}
.button:focus {
  background-color: var(--button-second-color);
}

/*About us*/

.visually-hidden {
  display: none;
}

.about-us {
  display: flex;
  gap: 24px;
}

.about-us-headline {
  font-size: 20px;
  margin-bottom: 8px;
  line-height: 1.2;
  font-weight: 500;
  color: var(--title-color);
  letter-spacing: 0.02em;
}

.about-us-item {
  display: flex;
  width: calc((100%-72px) / 4);

  flex-direction: column;
  justify-content: space-between;
}

.about-us-text {
  line-height: 1.5;
  color: var(--text-color);
  letter-spacing: 0.02em;
}
/*Products*/

.section-products {
  padding-top: 0;
  padding-bottom: 120px;
}
.our-products {
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
  text-decoration: none;
  margin-bottom: 72px;
}
.products-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.products-item {
  width: calc((100%-48px) / 3);
}

/*Our team*/
.section-team {
  background-color: var(--background-color-dark);
  padding: 120px 0;
}

.team-container {
  display: flex;
  gap: 24px;
}
.our-team {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
  margin-bottom: 72px;
}
.team-info {
  padding: 32px 16px;
}

.team-card {
  background-color: var(--background-color);
  width: calc((100%-72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 32px;
}

.personality-headline {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: var(--title-color);
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

/* Footer */

.addendum-section {
  background-color: var(--title-color);
  padding: 100px 0;
}
.addendum-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.addendum-main-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-color);
  display: inline-block;
  margin-bottom: 16px;
}
.addendum-variable {
  color: var(--background-color-dark);
}
.addendum-text {
  width: 264px;
  line-height: 1.5;
  color: var(--background-color-dark);
}

/* Main portfolio*/

.section-portfolio {
  padding: 96px 0 120px 0;
}

.portfolio-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.filter-pr {
  cursor: pointer;
  background-color: var(--background-color-dark);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: var(--button-color);
  padding: 12px 24px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.filter-pr:hover {
  color: var(--background-color);
  background-color: var(--button-second-color);
}
.filter-pr:focus {
  color: var(--background-color);
  background-color: var(--button-second-color);
}

.portfolio-products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
.product-card {
  border: 1px solid var(--border-color);
  border-top: none;
  padding: 32px 12px;
}

.product-headline {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 8px;
}

.product-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
