body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #434455;
}
:root {
  --dark-color: #2e2f42;
  --white-background-color: #ffffff;
  --modal-background-color: #fcfcfc;
  --light-color: #f4f4fd;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --accent-color: #e7e9fc;
  --success-color: #31d0aa;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding: 120px 0;
}

/* Default class */

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

/* Header */
.header {
  border-bottom: 1px solid var(--accent-color);
  padding: 24px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
}
.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  gap: 40px;
}
.main-link {
  text-transform: uppercase;
  line-height: 1.16;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-brand-color);
  margin-right: 76px;
}
.studio-name {
  color: var(--dark-color);
}
.menu-list {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color var(--transition);
}

.menu-list:hover,
.menu-list:focus {
  color: var(--pressed-state-color);
}
.active {
  position: relative;
  color: var(--pressed-state-color);
  transition: color var(--transition);
}

.menu-list.active::after {
  position: absolute;
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background-color: var(--pressed-state-color);
}

.contact-information-general {
  font-style: normal;
}
.contact-list {
  display: flex;
  gap: 40px;
}

.contact-information > a {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color var(--transition);
}
.contact-information > a:hover,
.contact-information > a:focus {
  color: var(--pressed-state-color);
}

/* Main index*/

.hero {
  background-color: var(--dark-color);
  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/people_office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  height: 600px;
}
.hero-container {
  display: flex;
  gap: 48px;
  flex-direction: column;
  align-items: center;
  padding: 0 316px;
}
.motto {
  color: var(--white-background-color);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
}

.button {
  cursor: pointer;
  background-color: var(--primary-brand-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background-color);
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 1, 0.15);
  border-radius: 4px;
  border: 0;
  min-width: 169px;
  transition: background-color var(--transition);
}

.button:hover,
.button:focus {
  background-color: var(--pressed-state-color);
}

/*About us*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-us {
  display: flex;
  gap: 24px;
}

.about-us-icon {
  background-color: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.about-us-headline {
  font-size: 20px;
  margin-bottom: 8px;
  line-height: 1.2;
  font-weight: 500;
  color: var(--dark-color);
  letter-spacing: 0.02em;
}

.about-us-item {
  display: flex;
  width: calc((100%-72px) / 4);

  flex-direction: column;
  justify-content: space-between;
}

.about-us-text {
  line-height: 1.5;
  color: var(--text-color);
  letter-spacing: 0.02em;
}
/*Products*/

.section-products {
  padding-top: 0;
  padding-bottom: 120px;
}
.our-products {
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
  text-decoration: none;
  margin-bottom: 72px;
}
.products-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.products-item {
  width: calc((100%-48px) / 3);
}

/*Our team*/
.section-team {
  background-color: var(--light-color);
  padding: 120px 0;
}

.team-container {
  display: flex;
  gap: 24px;
}
.our-team {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;
}
.team-info {
  padding: 32px 0;
}

.team-card {
  background-color: var(--white-background-color);
  width: calc((100%-72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 32px;
}

.personality-headline {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: var(--dark-color);
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.social-media-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 8px;
  align-items: center;
}
.social-media-item {
  height: 40px;
  width: 40px;
}
.socialmedia-icon {
  fill: var(--light-color);
}
.social-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-brand-color);
  fill: var(--light-color);
  border-radius: 50%;
  height: 100%;
  width: 100%;
  transition: background-color var(--transition);
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: var(--pressed-state-color);
}
.section-customers {
  padding: 120px 0;
}
/*Customers*/

.customers {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--subtle-text-color);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  color: var(--subtle-text-color);
  transition: color var(--transition), border-color var(--transition);
}
.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--pressed-state-color);
  color: var(--pressed-state-color);
}

.customers-icon {
  fill: currentColor;
}
/* Footer */

.addendum-section {
  background-color: var(--dark-color);
  padding: 100px 0;
}

.addendum-container {
  display: flex;
  align-items: baseline;
}
.addendum-info {
  margin-right: 120px;
}
.addendum-main-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
  display: inline-block;
  margin-bottom: 16px;
}
.addendum-variable {
  color: var(--light-color);
}
.addendum-text {
  width: 264px;
  line-height: 1.5;
  color: var(--light-color);
}
.addendum-social-media {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.addendum-social-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background-color);
  margin-bottom: 16px;
}

.addendum-social-media-list {
  display: flex;
  gap: 16px;
  justify-content: center;

  align-items: center;
}
.addendum-social-media-item {
  height: 40px;
  width: 40px;
}

.addendum-social-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-brand-color);
  fill: var(--light-color);
  border-radius: 50%;
  height: 100%;
  width: 100%;
  transition: background-color var(--transition);
}

.addendum-social-media-link:hover,
.addendum-social-media-link:focus {
  background-color: var(--success-color);
}

/* Main portfolio*/

.section-portfolio {
  padding: 96px 0 120px 0;
}

.portfolio-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.filter-pr {
  cursor: pointer;
  background-color: var(--light-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: var(--button-color);
  padding: 12px 24px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  transition: color var(--transition), background-color var(--transition),
    border-color var(--transition), box-shadow var(--transition);
}

.filter-pr:hover,
.filter-pr:focus {
  color: var(--white-background-color);
  background-color: var(--pressed-state-color);
  border-color: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-card {
  display: block;
  transition: box-shadow var(--transition);
}

.portfolio-cover-block {
  position: relative;
  overflow: hidden;
}

.overflow-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--primary-brand-color);
  color: var(--light-color);
  padding: 40px 32px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform var(--transition);
}
.portfolio-card:hover .overflow-text,
.portfolio-card:focus .overflow-text {
  transform: translateY(0%);
}

.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.product-card {
  border: 1px solid var(--accent-color);
  border-top: none;
  padding: 32px 16px;
}
.product-headline {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}

.product-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/*--------------modal-window-------------*/
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  transition: opacity var(--transition), visibility var(--transition);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--modal-background-color);
  width: 408px;
  min-height: 584px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--transition);
}

.close-window {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color var(--transition), border var(--transition);
}
.close-window:hover,
.close-window:focus {
  background-color: var(--pressed-state-color);
  border: none;
}
.icon-close {
  transition: fill var(--transition);
}
.icon-close:hover,
.icon-close:focus {
  fill: #ffffff;
}
